.badge {
  align-items: center;
  background-color: var(--primary_blue);
  border-radius: var(--radius-rounded);
  bottom: -8px;
  box-shadow: 0 0 0 2px #fff;
  color: var(--text-color-inverted);
  display: flex;
  font-size: var(--text-xs);
  font-weight: var(--bold);
  height: 16px;
  justify-content: center;
  min-width: 16px;
  padding: 0 var(--space-sm);
  position: absolute;
  right: -4px;
}
