.numeric {
  &__input {
    max-width: 50px;
    border-radius: 8px;
    background: var(--grey-25);
    color: var(--black);
    font-weight: 900;
    font-size: 2rem;
  }
  &__button {
    span {
      visibility: hidden;
    }
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
