@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body);
  color: var(--text-color);
}

.title {
  font-size: 3rem;
  color: var(--primary_blue);
  font-weight: 900;
}
