.footer {
  background-color: #313131;
  color: var(--white);
  &__section {
    &__logo {
      max-width: 300px;
    }
    &__social {
      &:hover {
        filter: drop-shadow(2px 2px 10px var(--primary_blue));
      }
    }
  }
  A {
    color: var(--primary_blue);
    &:hover {
      color: var(--white);
    }
  }
}
