.item {
  &__image {
    border-radius: 8px;
    background: var(--black);
    background: -moz-radial-gradient(
      circle,
      var(--black) 7%,
      var(--primary_blue) 58%,
      var(--black) 15%
    );
    background: -webkit-radial-gradient(
      circle,
      var(--black) 7%,
      var(--primary_blue) 58%,
      var(--black) 15%
    );
    background: radial-gradient(
      circle,
      var(--black) 7%,
      var(--primary_blue) 58%,
      var(--black) 15%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222",endColorstr="#ff0071",GradientType=1);

    img {
      border-radius: 8px;
    }
  }
  &__title {
    color: var(--primary_blue);
    font-weight: 500;
    text-align: center;
  }
  &__price,
  &__total,
  &__remove {
    text-align: center;

    color: var(--white);
  }
}
